@import "tailwindcss";

/* basic */
.navbar {
  position: relative;
  border-bottom: none; /* we'll draw it ourselves */
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #252526;
  color: white;
}

.navbar::after {
  --nav-gradient: linear-gradient(to right,
  #471396 0%,
  #5217A0 10%,
  #5C1BAB 20%,
  #671FB6 30%,
  #7123C0 40%,
  #7C27CA 50%,
  #872BD5 60%,
  #912FE0 70%,
  #9C33EA 80%,
  #A637F4 90%,
  #B13BFF 100%
);

  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;                /* thickness of the “border” */
  background: var(--nav-gradient);
}

.project-name {
  /* gradient text */
  font-size: 2.5rem;                  /* a tad larger */
  font-weight: 800;
  line-height: 1.25;                  /* more vertical room */
  display: inline-block;              /* allow padding to affect the box */
  padding-block: 4px;                 /* extra space above/below */
  
  background: linear-gradient(
    to right,
    #471396 0%,
    #621DB0 25%,
    #7C27CA 50%,
    #9631E5 75%,
    #B13BFF 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* rendering tweaks (optional) */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.turn-on-camera-btn {
  background: linear-gradient(to right, #471396 0%,  #621DB0 25%,#7C27CA 50%,#9631E5 75%, #B13BFF 100%);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.main-container {
  padding: 30px;
  max-width: 1100px;     /* adjust as you like */
  margin: 40px auto;     /* centers horizontally + adds space top/bottom */
  background: rgba(255,255,255,0.02); /* optional */
  border-radius: 12px;   /* optional */
}

.left_box {
  float: left;
  width: calc((100% - 70px) / 2); /* equal width minus gap */
  margin-right: 70px;
  background: #252526;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.right_box {
  float: left;
  width: calc((100% - 70px) / 2);
  background:#252526;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.show-demo-button {
  display: block;
  margin: 24px auto;
  background: linear-gradient(to right, #471396 0%,  #621DB0 25%,#7C27CA 50%,#9631E5 75%, #B13BFF 100%);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


